<div class="header">
    <h3 class="text-muted"><a ng-href="#dashboard">Referral.io</a></h3>
</div>
<div ng-hide="exists">
    <div class="jumbotron">
        <h1>{{linkRequested}}? This page doesn't really exist!
        </h1>

        <p> Why don't you return to what you were doing before and forget this ever happened?
        </p>

        <p><img src="/images/startrek.jpg">
        </p>
    </div>

</div>
<div ng-show="exists">
    <div class="jumbotron">
        <h1> You came to the site for {{linkRequested}}!
        </h1>

        <p> You are awesome. How did you succeed in doing that?
        </p>

        <p><img src="/images/willywonka.jpg">
        </p>
    </div>
</div>



